body {
  background-color: #E9EBEE
}

.hero {
  background-color: #3B5998;
  color: #ffffff;
}

.padding {
  padding-left: 9rem;
  padding-right: 9rem;
}

div {
  /*border: 1px solid black;*/
}

.div-background {
  background-color: #ffffff
}

.table-top-names {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

li {
  list-style: none;
}

.light-grey-borders {
  border: 2px solid #aaaaaa;
  padding: 2rem;
  border-radius: 2px;
}

.margin-top {
  margin-top: 10rem;
}

.bullet-list {
  list-style-type: circle;
}

.padding-left {
  padding-left: 1.7rem;
}

.checkout-margin-top {
  margin-top: 4rem;
}

.ingredients-checkout {
  margin-top: 5rem;
}

.left-border {
  border-left: 2px solid #aaaaaa;;
}

.no-padding {
  padding-bottom: none;
}
